*{
    padding: 0px;
    margin: 0px;
}

body{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(55deg,lightblue,hotpink,violet,skyblue);
    display: flex;
    justify-content: center;
    align-items: center;
}

#containerBgImg{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.toy{
    width: 150px;
    height: 150px;
}

#toy3{
    position: absolute;
    bottom: 3vw;
    /* transform: rotate(10deg) rotateY(180deg); */
    filter: drop-shadow(2px 2px 1px black);
    animation: toy3 5s ease-in-out infinite  ;
}

@keyframes toy3 {

    0% {
        bottom: 0;
    }
    99% {
        bottom: 100%;
    }
    100%{
        opacity: 0;
    }
      
}

#toy1{
    position: absolute;
    bottom: 3vw;
    right: 14vw;
    /* transform: rotate(10deg) rotateY(180deg); */
    filter: drop-shadow(2px 2px 1px black);
    animation: toy4 8s infinite  ease-in-out;
}


#toy2{

    position: absolute;
    bottom: 3vw;
    left: 14vw;
    transform: scaleX(-1);
    filter: drop-shadow(2px 2px 1px black);
    animation: toy4 8s infinite  ease-in-out;

}

/* #toy3{
    position: absolute;
    bottom: 3vw;
    /* transform: rotate(10deg) rotateY(180deg); 
    filter: drop-shadow(2px 2px 1px black);
    animation: gift2 15s infinite both reverse ease-in;
} */

#toy4{
    position: absolute;
    right: 3vw;
    bottom: 3vw;
    /* transform: rotate(15deg) rotateY(180deg);  */
    transform: scaleX(-1);
    filter: drop-shadow(2px 2px 1px black);
    animation: toy4 5s infinite both  linear;
} 

@keyframes toy4 {
    0% {
        
        bottom: 0;
    }
    99% {
        bottom: 100%;
    }
    100%{
        opacity: 0;
    }
    
}


#toy5{
    height: 40vw;
    width: 40vw;
    position: absolute;
    bottom: 3vw;
    left: 30vw;
    filter: drop-shadow(2px 2px 1px black);
    animation: toy4 10s infinite alternate ease-in-out;
} 





/*@keyframes gift1{

    0%{
        transform: translate(0px,0px) rotateY(180deg);
    }
    25%{
        transform: translate(400px,200px) rotateY(180deg);
    }
    50%{
        transform: translate(600px,-150px) rotateY(180deg);
    }
    75%{
        transform: translate(0px,650px) rotateY(180deg);
    }
    100%{
        transform: translate(600px,650px) rotateY(180deg);
    }
    
}*/

/*@keyframes gift2{

    0%{
        transform: translate(0px,0px) rotateY(180deg);
    }
    25%{
        transform: translate(-400px,200px) rotateY(180deg);
    }
    50%{
        transform: translate(-600px,-150px) rotateY(180deg);
    }
    75%{
        transform: translate(0px,450px) rotateY(180deg);
    }
    100%{
        transform: translate(100px,350px) rotateY(180deg);
    }
    
}

@keyframes gift3{

    0%{
        transform: translate(0px,0px) rotateY(180deg);
    }
    25%{
        transform: translate(400px,-200px) rotateY(180deg);
    }
    50%{
        transform: translate(600px,-150px) rotateY(180deg);
    }
    75%{
        transform: translate(0px,-450px) rotateY(180deg);
    }
    100%{
        transform: translate(100px,-350px) rotateY(180deg);
    }
    
}
*/
#passimage{
    height: 30px;
    width: 30px;
}

#loginContainer{
    width: 45vw;
    height: 30vw;
    background-color: rgba(0,0,0,0.625);
    border-radius: 1vw;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    box-shadow: 0.1vw 0.1vw 0.2vw black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#passVis{
    width: 3vw;
    height: 2vw;
    cursor: pointer;
    transition: all 0.5s;
}

#passVis:hover{
    transform: rotate(-20deg);
    filter: hue-rotate(125deg);
}

#loginHeading{
   color: yellow;
   text-shadow: 2px 2px 2px black;
   font-family: "Dancing Script",cursive;
   font-optical-sizing: auto;
   font-weight: bold;
   font-size: 3vw;
}

#email,#passContainer{
    width: 70%;
    height: 3vw;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    border-bottom: 0.2vw solid white;
    color: white;
    letter-spacing: 0.5vw;
    font-size: 2vw;
    box-shadow: 0px 5px 2px black;
    display: flex;
}

#email::placeholder,#pass::placeholder{
    color: white;
    letter-spacing: 0.5vw;
    font-size: 2vw;
}

#pass{
    width: 90%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 2vw;
    letter-spacing: 1vw;
}

#login{
    width: 120%;
    height: 3vw;
    border-radius: 10px;
    box-shadow: 5px 5px 5px solid black;
    background-color: royalblue;
    border: none;
    outline: none;
    font-size: 2vw;
    letter-spacing: 0.5vw;
    font-weight: bold;
    color: white;
}

#login:hover{
    animation: buttonAnimation 0.5s 1 both alternate;
    cursor: pointer;
}

/*@keyframes buttonAnimation {
    0%,100%{
        transform: rotate(0deg) skew(0deg,0deg);
    }
    25%{
        transform: rotate(0deg) skew(5deg,10deg);
    }
    50%{
        transform: rotate(-10deg) skew(-5deg,-10deg);
    }
    75%{
        transform: rotate(15deg) skew(7deg,15deg);
    }
    
}*/

a{
    color: white;
    text-decoration: none;
    letter-spacing: 0.5vw;
    font-size: 1.5vw;
}